In [1]:
import warnings
import pandas as pd
import tqdm
import socceraction.spadl as spadl
import socceraction.vaep.features as fs
from socceraction.data.statsbomb import StatsBombLoader
from markovsoccer.extended_spadl import convert_to_extended_spadl
from markovsoccer.team_model import TeamModel
warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)
warnings.filterwarnings(action="ignore", message="credentials were not supplied. open data access only")

ModuleNotFoundError: No module named 'pandas'

In [2]:
SBL = StatsBombLoader(getter="remote", creds={"user": None, "passwd": None})

In [3]:
# View all available competitions
competitions = SBL.competitions()
set(competitions.competition_name)

{'Champions League',
 "FA Women's Super League",
 'FIFA World Cup',
 'Indian Super league',
 'La Liga',
 'NWSL',
 'Premier League',
 'UEFA Euro',
 "UEFA Women's Euro",
 "Women's World Cup"}

In [4]:
# Data of Arsenal during Premier League season 2003/2004 is used. Note: The paper uses data of all teams from the
# Premier League season 2019/2020, but this data is not available for free.
selected_competitions = competitions[competitions.competition_name == "Premier League"]
selected_competitions

,season_id,competition_id,competition_name,country_name,competition_gender,season_name
38,44,2,Premier League,England,male,2003/2004

In [5]:
# Get games from all selected competitions
games = pd.concat([
    SBL.games(row.competition_id, row.season_id)
    for row in selected_competitions.itertuples()
])
games[["home_team_id", "away_team_id", "game_date", "home_score", "away_score"]]

    home_team_id  away_team_id           game_date  home_score  away_score
0             46             1 2004-02-07 16:00:00           1           3
1              1            46 2003-12-26 13:00:00           3           0
2              1            39 2004-03-28 17:05:00           1           1
3              1            22 2004-05-15 16:00:00           2           1
4              1            75 2004-02-28 16:00:00           2           1
5             47             1 2003-08-24 17:05:00           0           4
6            101             1 2003-11-01 16:00:00           1           4
7             24             1 2003-10-04 13:30:00           1           2
8              1            33 2003-10-18 16:00:00           2           1
9             98             1 2004-03-13 16:00:00           0           2
10            59             1 2004-01-18 15:00:00           0           2
11             1            37 2003-09-26 21:00:00           3           2
12             1            36 2004-02-01 17:05:00           2           1
13             1            54 2004-05-01 13:30:00           0           0
14            39             1 2003-09-21 17:05:00           0           0
15             1           105 2003-09-13 16:00:00           1           1
16            36             1 2003-08-31 17:05:00           1           2
17            33             1 2004-02-21 13:30:00           1           2
18            38             1 2004-04-25 17:05:00           2           2
19            25             1 2003-12-29 21:00:00           0           1
20             1            29 2003-08-16 16:00:00           2           1
21            54             1 2003-11-22 16:00:00           0           3
22             1            55 2003-11-30 15:00:00           0           0
23             1            38 2003-11-08 16:00:00           2           1
24             1            24 2004-04-09 13:30:00           4           2
25             1            98 2003-12-14 15:00:00           1           0
26             1           101 2004-04-16 21:00:00           5           0
27           328             1 2003-12-20 16:00:00           1           1
28            55             1 2004-05-09 17:05:00           0           1
29             1            47 2004-01-10 16:00:00           4           1
30             1           328 2004-03-20 16:00:00           2           1
31            75             1 2003-10-26 15:00:00           1           1
32            37             1 2004-04-11 17:05:00           0           0

## Load and convert match data

In [6]:
games_verbose = tqdm.tqdm(list(games.itertuples()), desc="Loading game data")
teams = []
actions = {}
for game in games_verbose:
    # load data
    teams.append(SBL.teams(game.game_id))
    events = SBL.events(game.game_id)
    # convert data
    actions_of_game = spadl.statsbomb.convert_to_actions(events, game.home_team_id)
    # resolve team id's
    actions_of_game = actions_of_game.merge(SBL.teams(game.game_id), how="left")\
        .reset_index(drop=True)
    [actions_of_game] = fs.play_left_to_right([actions_of_game], game.home_team_id)
    # convert to extended SPADL
    actions[game.game_id] = convert_to_extended_spadl(actions_of_game)

teams = pd.concat(teams).drop_duplicates(subset="team_id")

Loading game data: 100%|██████████| 33/33 [01:00<00:00,  1.83s/it]

In [7]:
# inspect a subset of some of the actions
actions[game.game_id][:25]

,game_id,period_id,timestamp,team_name,player_id,start_x,end_x,start_y,end_y,type_name,result_name,bodypart_name,ball_recovery,modelled_possession_sequence
0,3749431,1,0 days 00:00:00,Newcastle United,40234.0,52.058824,51.264706,34.430380,33.655696,kick_off,success,foot,False,True
1,3749431,1,0 days 00:00:01,Newcastle United,40226.0,51.264706,50.823529,33.655696,33.311392,dribble,success,foot,False,True
2,3749431,1,0 days 00:00:01,Newcastle United,40226.0,50.823529,47.735294,33.311392,35.893671,pass,success,foot,False,True
3,3749431,1,0 days 00:00:02,Newcastle United,24799.0,47.735294,66.352941,35.893671,66.106329,pass,success,foot,False,True
4,3749431,1,0 days 00:00:04,Newcastle United,40227.0,66.352941,70.588235,66.106329,42.091139,pass,fail,foot,False,True
5,3749431,1,0 days 00:00:06,Arsenal,15637.0,33.617647,57.441176,26.683544,29.007595,pass,fail,head,False,False
6,3749431,1,0 days 00:00:09,Newcastle United,38418.0,46.764706,45.705882,39.767089,36.582278,dribble,success,foot,True,True
7,3749431,1,0 days 00:00:10,Newcastle United,38418.0,45.705882,55.147059,36.582278,31.589873,pass,success,foot,False,True
8,3749431,1,0 days 00:00:11,Newcastle United,24799.0,55.147059,48.352941,31.589873,29.610127,dribble,success,foot,False,True
9,3749431,1,0 days 00:00:12,Newcastle United,24799.0,48.352941,47.735294,29.610127,9.037975,pass,success,foot,False,True
10,3749431,1,0 days 00:00:14,Newcastle United,20059.0,47.735294,42.882353,9.037975,4.131646,dribble,success,foot,False,True
11,3749431,1,0 days 00:00:15,Newcastle United,20059.0,42.882353,32.558824,4.131646,21.432911,pass,success,foot,False,True
12,3749431,1,0 days 00:00:16,Newcastle United,40225.0,32.558824,33.264706,21.432911,18.678481,dribble,success,foot,False,True
13,3749431,1,0 days 00:00:16,Newcastle United,40225.0,33.264706,48.794118,18.678481,13.083544,pass,fail,foot,False,True
14,3749431,1,0 days 00:00:17,Arsenal,15515.0,55.411765,55.852941,55.691139,60.167089,dribble,success,foot,True,True
15,3749431,1,0 days 00:00:20,Arsenal,15515.0,55.852941,61.500000,60.167089,58.445570,pass,success,foot,False,True
16,3749431,1,0 days 00:00:21,Arsenal,26014.0,61.500000,59.558824,58.445570,55.260759,dribble,success,foot,False,True
17,3749431,1,0 days 00:00:21,Newcastle United,20059.0,44.647059,44.647059,13.513924,13.513924,tackle,fail,foot,False,True
18,3749431,1,0 days 00:00:22,Newcastle United,40226.0,44.647059,52.588235,13.513924,13.513924,dribble,success,foot,True,True
19,3749431,1,0 days 00:00:23,Newcastle United,40226.0,52.588235,53.029412,13.513924,18.678481,pass,success,foot,False,True
20,3749431,1,0 days 00:00:24,Newcastle United,40234.0,53.029412,54.088235,18.678481,18.248101,dribble,success,foot,False,True
21,3749431,1,0 days 00:00:24,Arsenal,40221.0,50.117647,50.117647,50.526582,50.526582,foul,success,foot,False,False
22,3749431,1,0 days 00:00:44,Newcastle United,20059.0,52.588235,76.500000,17.215190,43.812658,freekick_crossed,fail,foot,False,False
23,3749431,1,0 days 00:00:47,Arsenal,40221.0,27.705882,49.058824,24.962025,33.913924,pass,success,head,True,True
24,3749431,1,0 days 00:00:48,Arsenal,15516.0,49.058824,48.088235,33.913924,32.881013,dribble,success,foot,False,True

## Build team models

In [8]:
# indicate minimum number of games a team has to have played for a team model to be built
NMIN_GAMES = 5
selected_competitions

,season_id,competition_id,competition_name,country_name,competition_gender,season_name
38,44,2,Premier League,England,male,2003/2004

In [9]:
for _,team in teams.iterrows():
    games_of_team = games[(games['home_team_id'] == team['team_id'])
                       | (games['away_team_id'] == team['team_id'])]
    if len(games_of_team) >= NMIN_GAMES:
        game_ids = games_of_team['game_id'].reset_index(drop=True)
        # concatenate all the actions that occurred in the matches that the team has played
        A = []
        for game_id in game_ids:
            A.append(actions[game_id])
        A = pd.concat(A)
        # build team model
        directory = f"../models/{team['team_name']}.prism"
        team_model = TeamModel.build_from(A, team['team_name'])
        team_model.convert_to_prism_file(f"../models/{team['team_name']}.prism")